@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    font-family: 'Roboto'!important;
}

#logo{
    width: 73px;
    height: 54px;
}

nav a{
    color: #FFFFFF!important ;
}

img{
    width: 22px;
    height: 22px;
}

.font{
    font-size: 14px;
    font-weight:bold;

}

.para{
    font-size: 1rem!important;
    font-family:'Roboto'!important;
    font-weight: lighter;
}

#flogo{
    width: 6.625rem!important;
    height: 4.875rem!important;
}


