@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
  line-height:1.5;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
   
  body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
  } 

header{
  max-width: 1560px; 
  margin:0 auto;
  height: 930px;       
   padding-left:10px;
  padding-right: 10px;
  padding-top: 10px; 
  object-fit: contain;     
  background-image: url("image/group-35.png");
  background-size: cover;
  background-position: center; 
  }

  .logo img{
    position: absolute;
    width: 175px;
    height: 130px;
    margin: 0 49px 190px 0;
    object-fit: contain;
  }

  .navbar .navbar-nav .nav-item .nav-link a{
    position: relative;
    width: 545px;
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: right;
    padding:0px 10px 10px 0px;
  }

.rounded-corner{ 
    border:1px solid white;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    object-fit: contain;
    align-content: center;
}

#flag{
  padding-left: 15px;
  align-content: flex-end;
}

#arrow{
  padding-left: 10px;
}

.text{
  position: absolute;
  margin: 220px 120px 22px 41px;
}

.text h1{
  font-family: 'Roboto', sans-serif;
  font-size: 46px;
  font-weight: 400;
  color:white; 
  opacity: 1;

}

.text .text-content p{
  width: 362px;
  height: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: white;
  opacity: 1;
}

.text .text-content img{
padding-right: 8px;
opacity: 1;
}

.book{
  font-family:'Roboto', sans-serif;
  background-color:#006072 ;
  letter-spacing: normal;
  color: white;
  position:absolute;
  top: 66.8%;
  left: 44.8%;
}

.corner{
  border:1px solid white;
    border-radius: 27px;
    padding: 10px 30px;
    object-fit: contain;
    align-content: center;
}

.posts{
  position: absolute;
  top:92%;
  left:20%;
}
.posts img{
  margin: 30Px;
}

.posts .arrows{
  padding-bottom: 15px;
}

.message{
  position: absolute;
  top:111%;
  left: 6%;
}

.message-text{
  color: #fff;
  padding-left: 152px;
}

.down{
  position:absolute;
  top: 135%;
  left: 51%;

}

.down img{
  border: 1px solid white;
  border-radius: 50px;
  padding: 8px;
}


 
/*----------------------why helperland section-----------------------------*/


 .why-helperland{
  margin: 45px 30px 0px 30px;
  z-index: 10000;
  position: relative;
  justify-content: center;
  text-align: center;
}

.why-helperland .container-fluid .heading{
  font-family:'Roboto', sans-serif;
  margin-left: 95px;
  color: #4f4f4f;
  font-weight: bold;
}
.why-helperland .container-fluid{
  width: 1118.65px;
  height: 569.92px;
  margin:45px 20px 10px 20px ;
} 

.why-helperland .container-fluid .row{
  height: 480px; 
}



.row .col .content-pic{
  width: 320px;
  height: 320px;
  padding: 2px 20px 25px 0px;
  justify-items: center;
} 

.row .col .title-1{
  width: 270px;
  height: 59px;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bolder;
  color: #4f4f4f;
}

.row .col .title-2{
  width: 314px;
  height: 29px;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bolder;
  color: #4f4f4f;
}

.row .col .title-3{
  width: 270px;
  height: 59px;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bolder;
  color: #4f4f4f;
}

.row .col .content-1{
  width: 312px;
  height: 64px;
  font-size: 17px;
  text-align: center;
  color: #4f4f4f;
} 

.row .col .content-2{
  width: 286px;
  height: 64px;
  font-size: 17px;
  text-align: center;
  color: #4f4f4f;
} 

.row .col .content-3{
  width: 334px;
  height: 64px;
  font-size: 17px;
  text-align: center;
  color: #4f4f4f;
} 


/* LOREM TEXT PARA*/


.container{
  width: 1560px;
  height: 929px;
  position: relative;
}

.container .col h2{
  width: 376px;
  height: 59px;
  margin: 104px 27px 18px 10px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #4f4f4f;
}
 
 .container .col p{

  width: 630px;
  height: 186px; 
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #4f4f4f;

}
 
.container .row .col img{
  width: 300px;
  height: 400px;
  padding-left: 10px;
  padding-top: 100px;
  object-fit: contain;
}

/*-----------------------------------our-blog------------------------------------------*/

.our{
  margin-top: 80px;
  margin-left: 450px;
  font-size: 40px;
  color: #4f4f4f;
  font-weight: bold;
}

.threeblog{
  position: relative;
  display: inline-flex;
  right: 7%;
}
.blog1{
  margin-top: 66px;
  margin-left: 70px;
  margin-right: 45px;
  box-shadow: 0 0 30px 0 #e4ebf0;
  border-radius: 4px;
}
.blog2{
  margin-top: 66px;
  margin-right: 30px;
  box-shadow: 0 0 30px 0 #e4ebf0;
  border-radius: 4px;
}
.blog3{
  margin-top: 66px;
  box-shadow: 0 0 30px 0 #e4ebf0;
  border-radius: 4px;
}
.bghead{
  color: #3d4046;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}
.date{
  font-size: 13px;
  color: #a3a3a3;
  margin-left: 20px;
  margin-top: 5px;
  font-weight: normal;
}
.bgcont{
  font-size: 16px;
  color: #565656;
  margin-left: 18px;
  margin-top: 14px;
  line-height: 1.38;
}
.readpost{
  font-size: 18px;
  margin-left: 20px;
  margin-top: 27px;
  color: #1d7a8c;
  margin-bottom: 35px;
}





/*----------------------------customer says section---------------------------------*/



.customers{
  color: #4f4f4f;
  padding-top: 20px;
  margin-left: -16px;
  margin-right: -14.8px;
}
.customers .cust_say{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-top: 75px;
  margin-bottom: 59px;
}
.profiles{
  position: relative;
  display: inline-flex;
  right: 6%;
}
.profiles .profile-1{
  margin-left: 215px;
  margin-right: 25px;
  float: left;
  border-left: solid 3px #1d7a8c;
  background-color: #fff;
  padding: 2px 30px 40px 35px;
  margin-bottom: 55px;
}
.msg{
  float: right;
  font-size: 5px;
}
.a1{
  margin-top: 10px;
  margin-left: 20px;
  float: right;
  margin-right: 80px;
}
.b1{
 font-size: 20px;
 font-weight: bold;
}
.manchester{
  font-size: 11px;
  line-height: 1.71;
}
.p123-c{
  line-height: 1.38;
}
.r1{
  font-size: 18px;
}
.shape-2{
  margin-left: 10px;   
}
.group-31{
  object-fit: contain;
  border-radius: 50px;
}
.group-32{
  object-fit: contain;
  border-radius: 50px;
}
.group-33{
  object-fit: contain;
  border-radius: 50px;
}
.profile-2{
  margin-left: 25px;
  margin-right: 25px;
  float: left;
  border-left: solid 3px #1d7a8c;
  background-color: #fff;
  padding: 2px 30px 20px 35px;
  margin-bottom: 55px;
  border-radius: 1px;
}
.profile-3{
  margin-left: 25px;
  float: left;
  border-left: solid 3px #1d7a8c;
  background-color: #fff;
  padding: 2px 30px 40px 35px;
  margin-bottom: 55px;
}

/*-------------------------------OUR NEWSLETTER SECTION---------------------------------------*/

.other .forma-1{
  background: #4f4f4f;
  border-radius: 50%;
  padding: 12px 6.5px 12px 6.5px;
  margin-left: 65px;
  float: left;
  object-fit: contain;
  width: 24px;
}
.other .layer-598{
  width: 63px;
  margin-left: 1255px;
  margin-top: -40px;
}

#btn-back-to-top{
  color: #525252;
  position: fixed;
  bottom: 300px;
  left: 30px;
  font-size: 150%;
}

.other .letter{
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}
.mail{
  margin-left: 500px;
  border-radius: 30px;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.29;
  padding: 3px 66px 4px 15px;
  height: 40px;
  width: 300px;
  border: solid 0.7px;
  margin-top: -10px;
  margin-bottom: 53px;
}
.sub{
  width: 150px;
  margin-left: 7px;
  border-radius: 20px;
  padding: 7px 21px 14px 7px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background-color: #ff7b6d;
  border: transparent;
}

  /*-------------------------------FOOTER SECTION---------------------------------------*/
.bottom{
  background-color: #111111;
  margin-right: -14.8px;
  margin-left: -17px;
}
.white-logo-transparent-background-1{
  margin-left: 122px;
  margin-top: 27px;
  margin-bottom: 26px;
  height: 78px;
  width: 106px;
}
.nav{
  margin-top: 60px;
  margin-right: 130px;
  font-size: 22px;
  text-align: right;
}

ul{
  list-style-type: none;
  float: right;
  margin-right: 100px;
}
ul li{
  display: inline-block;
}
ul li a{
  height: 16px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
}


.fa-facebook-f{
  color: #fff;
  text-decoration: none;
  margin-left: 180px;
}
.fa-instagram{
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  width: 30px;
}
.privacy{
  background-color: #292929;
  margin-left: -17px;
  margin-right: -14.8px;
  height: 66px;
  align-items: center;
}
.priv_cont{
  font-size: 14px;
  text-align: center;
  padding: 21px;
  color: #9ba0a3;
  line-height: 1.57;
}
.blue{
  color: #6eabef;
}
.ok{
  float: right;
  margin-top: -64px;
  width: 100px;
  font-size: 16px;
  margin-right: 25px;
  background: #eed507;
  border: transparent;
  padding-top: 7px;
  padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 7px;
  border-radius: 30px;
}




